:root {
    --main-color: rgb(193, 193, 193);
    --bg-color: rgb(27, 27, 27);
    --font: 'Avenir', Helvetica, Arial, sans-serif;
}
html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  background-color: var(--bg-color);
  font-family: var(--font);
  text-align: center;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
}

button {
    background-color: black;
    border: 3px solid var(--main-color);
    border-radius: 3px;
    outline: none;
    padding: 1rem;
    color: var(--main-color);
    font-family: var(--font);
    font-size: 1rem;
}
button:hover {
    cursor: pointer;
}
button:active{
    background-color: var(--main-color);
    color: black;
}

input[type=text] {
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    outline: none;
    border: 2px solid var(--main-color);
}

input {
    padding: 1rem;
}